<!doctype>
<HTML>

<HEAD>
	<TITLE>A Propos</TITLE>
	{{ include('head.twig')}}
</HEAD>

<BODY>
	{{ include('menu.twig') }}

	<div>
		Onglet des 'A propos'
		contiendra les horaires, l'adresse, le numero de telehpone, une adresse mail, 
	</div>
	

</BODY>
</HTML>