<!doctype>
<HTML>

<HEAD>
	<TITLE>Accueil</TITLE>
	<meta charset="utf-8"/>
    <meta name="description" content="Site Internet de la Cordonnerie Pizzoni"/>
    <meta name="author" content="PIZZONI Charlène"/>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="materialize/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="image/favicon.png" type="image/png">
    {% block head %}{% endblock%}
</HEAD>

<BODY>
		{% block content %}{% endblock %}
</BODY>
</HTML>
