{% extends "base.twig" %}

{% block title %}Commande{% endblock %}


{% block content %}
	{{ include('menu.twig') }}

	<div>
		<h1>
			Ma commande est-elle prête?
		</h1>
		<p>
			Entrer le numéro de votre commande : (inscrit sur le récipicé donné lors de la prise en charge de votre article)
		</p>
		<a class="waves-effect waves-light btn">Vérifier l'état</a>
	</div>

{% endblock %}
