{% extends "connexion.twig" %}

	{% block error %}
		<div>
			<span class="red-text text-darken-4">Votre identifiant ou mot de passe n'est pas valide, veuillez recommencer.</span>
		</div>
	{% endblock %}
