<!doctype>
<HTML>

<HEAD>
	<TITLE>Accueil</TITLE>
	{{ include('head.twig')}}
</HEAD>

<BODY>
	{{ include('menu.twig') }}

	<div>
		Onglet d'acceuil
	</div>
	

</BODY>
</HTML>

<!--
logo/lien
<a id="logo" href="/"> <span>Montpellier Jug</span></a>

adaptativité
http://materializecss.com/grid.html
-->