	<div class="navbar-fixed">
		<nav class="#fb8c00 orange darken-4">
			<div class="nav-wrapper">
				 <a href="index.php" class="brand-logo"><img src="images/logo.png"></a>
				 <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="index.php">Acceuil</a></li>
					<li><a href="services.php">Services</a></li>
					<li><a href="commande.php">Mes Commandes</a></li>
					<li><a href="aPropos.php">A propos</a></li>
				</ul>
				<ul class="side-nav" id="mobile-demo">
					<li><a href="index.php">Acceuil</a></li>
					<li><a href="services.php">Services</a></li>
					<li><a href="commande.php">Mes Commandes</a></li>
					<li><a href="aPropos.php">A propos</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<script type="text/javascript">
		$(".button-collapse").sideNav();
	</script>